.hidden {
    display: none;
}

.visible {
    display: inline;
}

#play-btn {
    text-align: center;
}

#btn {
    font-size: 20px;
    margin-top: 20px;
    background-color: rgb(37, 202, 37);
    color: red;
    animation: backColor 1s linear infinite;
    height: 50px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: row wrap;
}


body {
    background-image: url('stars.gif');
}

@keyframes backColor {
    0% {
        background-color: rgb(37, 202, 37);
        color: red;
    }

    50% {
        background-color: red;
        color: rgb(37, 202, 37)
    }

    100% {
        background-color: rgb(37, 202, 37);
        color: red;
    }

}